# Habitable Zone

An implementationof the [Kopparapu et al. (2013)](https://ui.adsabs.harvard.edu/abs/2013ApJ...765..131K/abstract) habitable zone calculation

---
*Aaron Geller, Dec. 2019*

In [1]:
import numpy as np
import pandas as pd

In [2]:
def getHZ(L, T, inC, outC):
    #L == luminosity of the star 
    #T == effective temperature of the star
    #inC and outC == the relevant inner and outer coefficients list, from Kopparapu's Table 3
    #  these coefficients are supplied in the HZ_coefficients.dat file"

    
    Lstar = L #.value_in(units.LSun)
    Tstar = T #.value_in(units.K)

    #Kopparapu HZ
    tst = Tstar - 5780.0
    #THIS IS THE LIMIT OF THE Kopparapu results.  Not sure what to do outside of this!
    if (Tstar > 7200): 
        print("!!!WARNING: Teff > 7200 K -- outside of Kopparapu model limits -- setting Tstar=7200-5780")
        tst = 7200. - 5780.
    if (Tstar < 2600): 
        print("!!!WARNING: Teff < 2600 K -- outside of Kopparapu model limits -- setting Tstar=2600-5780")
        tst = 2600. - 5780.
    Seff_inRK = inC[0] + inC[1]*tst + inC[2]*tst**2 + inC[3]*tst**3 + inC[4]*tst**4
    Seff_outRK = outC[0] + outC[1]*tst + outC[2]*tst**2 + outC[3]*tst**3 + outC[4]*tst**4
    dinRK = np.sqrt(Lstar/Seff_inRK) #| units.AU
    doutRK = np.sqrt(Lstar/Seff_outRK) #| units.AU

    return dinRK, doutRK

### Read in Kopparapu's Table 3 for coefficients

In Kopparapu's Table 3 in their 2013 paper = file HZ_coefficients.dat, 
the coefficients are as follows:

The columns, i, are arranged according to the Si HZ limits given in the paper.
 
```
i = 1 --> Recent Venus
i = 2 --> Runaway Greenhouse
i = 3 --> Moist Greenhouse
i = 4 --> Maximum Greenhouse
i = 5 --> Early Mars
```

In [3]:
HZdf = pd.read_csv("HZ_coefficients.dat", sep = ' ', skipinitialspace = True, skiprows = 13, 
              names = ['S1','S2','S3','S4','S5'])
HZdf

             S1            S2            S3            S4            S5
0  1.775300e+00  1.051200e+00  1.014000e+00  3.438000e-01  3.179000e-01
1  1.431600e-04  1.324200e-04  8.177400e-05  5.894200e-05  5.451300e-05
2  2.987500e-09  1.541800e-08  1.706300e-09  1.655800e-09  1.531300e-09
3 -7.570200e-12 -7.989500e-12 -4.324100e-12 -3.004500e-12 -2.778600e-12
4 -1.163500e-15 -1.832800e-15 -6.646200e-16 -5.298300e-16 -4.899700e-16

### Test for Earth 

From Kopparapu's Table 1, the results for the Runaway Greenhouse (S2) and Maximum Greenhouse (S4) should be :

```
(0.97 AU, 1.70 AU)
```

In [4]:
print(getHZ(1., 5780., HZdf['S2'], HZdf['S4']))

(0.9753428933010881, 1.7054817003221696)